.Layout {
  height: 100vh;
  overflow: hidden;
}

.goDown {
  height: calc(100vh - 75px);
}

.Layout::-webkit-scrollbar {
  display: none;
  width: 7px;
}

.Layout::-webkit-scrollbar-track {
  background-color: #5252edb7;
}

.Layout::-webkit-scrollbar-thumb {
  background-color: var(--prestige-blue);
}

.mainContent {
  height: 100%;
}

@media (max-width: 572px) {
  .Layout {
    height: calc(100vh - 100px);
  }
}